fastapi==0.115.0
uvicorn[standard]==0.30.6
python-multipart==0.0.9

numpy==2.0.2
scipy==1.14.1
librosa==0.10.2.post1
soundfile==0.12.1

scikit-learn==1.5.2
joblib==1.4.2

requests==2.32.3
python-dotenv==1.0.1
